<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youdao.sdk.ydtranslatedemo"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- 必加权限 -->
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- 往SDCard读写数据权限   storage group -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 录音权限  -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TranslateActivity"
            android:theme="@style/XiaoYouStyle" />

        <activity
            android:name=".TranslateDetailActivity"
            android:theme="@style/XiaoYouStyle" />

        <activity
            android:name=".OcrTranslateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/XiaoYouStyle" />

        <activity
            android:name=".MyBrowser"
            android:theme="@style/XiaoYouStyle" />

        <activity
            android:name=".SpeachTranslateDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/XiaoYouStyle" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.youdao.sdk.ydtranslatedemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>